.viewitem-main-view {
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewitem-content {
    width: 100%;
    max-width: 1200px;
}

.viewitem-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.viewitem-card {
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.viewitem-card:hover {
    transform: scale(1.02);
}

.viewitem-img {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.viewitem-image {
    width: 100%;
    height: auto;
    /* Ensures the image maintains its aspect ratio */
    max-height: 200px;
    /* Adjust the maximum height as needed */
    object-fit: contain;
    /* Ensures the entire image fits within the container */
}

.viewitem-wishlist-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.viewitem-wishlist-heart:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.viewitem-heart {
    font-size: 24px;
    color: red;
}

.viewitem-details {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.viewitem-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewitem-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.viewitem-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.4;
}

.viewitem-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.viewitem-buttons {
    display: flex;
    justify-content: flex-start;
}

.viewitem-btn {
    width: 120px;
    height: 40px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: orangered;
    border: none;
    cursor: pointer;
    outline: none;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.viewitem-btn:hover {
    opacity: 0.8;
}

.viewitem-similar-items {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.viewitem-similar-items h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.viewitem-similar-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}

.viewitem-product-card {
    width: calc(33.333% - 20px);
    /* Three items per row by default */
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.viewitem-product-card:hover {
    transform: scale(1.02);
}

.viewitem-product-img {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border-bottom: 1px solid #ccc; */
}

.viewitem-product-image {
    width: 100%;
    height: auto;
    /* Ensures the image maintains its aspect ratio */
    max-height: 150px;
    /* Adjust the maximum height as needed */
    object-fit: contain;
    /* Ensures the entire image fits within the container */
    margin-top: 10px;
}

.viewitem-product-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.viewitem-product-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.viewitem-product-description {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.4;
}

.viewitem-product-price {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.viewitem-product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.viewitem-footer {
    width: 100%;
    position: fixed;
    /* padding-top: 50px; */
    bottom: 0;
}

@media (max-width: 1024px) {
    .viewitem-product-card {
        width: calc(50% - 20px);
        /* Two items per row on tablets */
    }
}

@media (max-width: 768px) {
    .viewitem-product-card {
        width: calc(100% - 20px);
        /* One item per row on mobile */
    }
}